*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    }
header{
    padding-top: 30000px;
}
body{
    font-family: sans-serif;
    }
a{
    text-decoration: none;
    color: #fff;
    }
body{
    background-color :#f8fbfc
    }
.container{
    height: 90vh;
    width: 100vw;
    display: grid;
    place-items: center;
    }


.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: rgb(217, 227, 227);
    }
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #5095c0;
    cursor: pointer;
    z-index: 1;
    }
.theme-toggler.active{
    color: #333;
    }
.theme-toggler.active::before{
    background-color: #4691ba;
    }
        
#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    }
        
#display::-webkit-scrollbar{
    display: block;
    height: 3px;
    }
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 20px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
button:hover{
    transform: scale(1.1);
    }
      
button#equal{
    height: 130px;
    }
.calculator button.btn-number{
    background-color: #87c4e6;
    color: #000;
    }
.calculator button.btn-operator{
    background-color: #b6bdfd;
    color: #a624b2;
    }
.calculator button.btn-equal{
    background-color: #6bedce;
    color: #000;
    }
